<html lang="en">
<%- include("./partials/header.ejs") %>

<body>

  <div class="blogs content">
    <h3 class="title"><%= products %></h3>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>